<div id="user_content" class="main-content">
  <div class="align-center user-room1">
    <%= link_to(users_url) do %>
      <%=  image_tag("roomr1.png", :border => 0) %>
      <div>I'm a roomr</div>
    <% end %>
  </div>
  <div class="align-center user-room2">
    <%= link_to(listings_url) do %>
      <%=  image_tag("roomr2.png", :border => 0) %>
      <div>I need a roomr</div>
    <% end %>
  </div>

</div>

