

<div id="home_content" class="main-content">
  <div class="home-logo">
    <%= image_tag "main-logo@2x.png" %>
  </div>
  <div class="home-fbsignin">
    <div id="user-widget">
 
    <a href="/auth/facebook", id: "sign_in">
      <%= image_tag "facebook-logo@2x.png" %>
    </a>

</div>
  </div>
</div>


