header {
  height:55px;
  background:#eeeef0;
  position:relative;

}
.header-logo {
  position:absolute;
  left:50%;
  top:50%;
  margin:-14px 0 0 -35px;
}
#menu_nav_button {
  background: url('/assets/3bar@2x.png');
  background-size:100% 100%;
  width:20px;
  height:15px;
  display:inline-block;
  position:absolute;
  top:50%;
  left:15px;
  margin:-7px 0 0 0;
}