// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.listing-header {
	overflow: hidden;
	.title {
		display: inline-block;
		float: left;
		margin: 10px 15px;
	}
	.price {
		display: inline-block;
		float: right;
		margin: 10px 15px;
	}
}

.main-image img, .map img {
	width: auto;
}
.gallery {
	overflow: hidden;
	margin-bottom: 10px;
}
.thumbnails {
	margin: 10px 15px;
	.img-wrapper {
		width: 100px;
		margin: 10px;
	}
	.img-wrapper:first-child {
		margin-left: 0px;
	}
}

.map-label {
	margin: 10px 20px;
}

.map {
	overflow: hidden;
}

.description-label {
	margin: 20px 0px;
}
.description {
	margin: 20px;
}

.match-grade-wrapper {
	margin: 20px;
}