// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.listing-header {
	overflow: hidden;
	.title {
		display: inline-block;
		float: left;
		margin: 10px 15px;
	}
	.price {
		display: inline-block;
		float: right;
		margin: 10px 15px;
	}
}

.main-image {
//  height: 200px;
//  overflow: hidden;
}
.main-image img {
	width: 100%;
}
.map img {
	width: auto;
}
.gallery {
	overflow: hidden;
	margin-bottom: 10px;
}
.thumbnails {
	margin: 10px 15px;
	.img-wrapper {
		width: 100px;
		margin: 10px;
	}
	.img-wrapper:first-child {
		margin-left: 0px;
	}
}

.map-label {
	margin: 10px 20px;
}

.map {
	overflow: hidden;
}

.description-label {
	margin: 20px 0px;
}
.description {
	margin: 20px;
}

.match-grade-wrapper {
	margin: 20px;
}
.roomr {
	overflow: hidden;
}
.roomr-profile {
	width: 100px;
	height: 100px;
	overflow: hidden;
	border-radius: 50%;
	border: 1px solid #ccc;
	display: inline-block;
	margin: 10px 20px;
	float: left;
	img {
		width: 100%;
	}
}
.roomr-details {
	margin: 20px;
}

.interested-buttons {
	> * {
		margin: 10px 20px;
		display: block;
		text-align: center;
	}
	span {
		display: block;
		padding: 20px 20px;
	}
	.notinterested {
		color: #999;
	}
	.call-to-action {
		background: rgb(109, 186, 54);
		border-radius: 5px;
		color: white;
	}
}

#interested-users {
  li {
    margin: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
    img {
      width: 70px;
      float: left;
      margin-right: 10px;
    }
    > a {
      display: block;
      overflow: hidden;
    }
    > a > div {
      overflow: hidden;
      .green-value {
        color: #7EC346;
      }
      > div {
        margin-bottom: 5px;
      }
    }
  }
}