.user-type {
  header {
//    opacity:.2;
    #menu_nav_button {
      display: none;
    }
  }
}
.user-room1 {
  padding:35px 0 0 0;
}
.user-room2 {
  padding:50px 0 0 0;
}
.user-room1,.user-room2 {
  color:#1c70b0;
  font-size:25px;
}