#show-user {
  .show-user-top {
    margin: 10px 10px 30px;
    overflow: hidden;
    img {
      width: 70px;
      float: left;
      margin-right: 10px;
    }
    > a {
      display: block;
      overflow: hidden;
    }
    > a > div {
      overflow: hidden;
      .green-value {
        color: #7EC346;
      }
      > div {
        margin-bottom: 5px;
      }
    }
  }
  .show-user-description {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid lightgray;
  }
  .show-user-actions {
    a {
      display: block;
      border: 1px solid #3E7CCF;
      margin-bottom: 10px;
      padding: 15px;
    }
  }

}